

<div class="background">

    
    
    <div class="img">
        <img src="./assets/autocad.jpg" width="100%">
    </div>
    <br>

    <h3 style="text-align: center;"><b>AutoCAD® is computer-aided design (CAD) software that architects, engineers and construction professionals rely on to create precise 2D and 3D drawings.</b></h3>
    <ul>
        <li>
	Draft, annotate and design 2D geometry and 3D models with solids, surfaces and mesh objects
        </li>
        <li>
        Automate tasks such as comparing drawings, adding blocks, creating schedules and more   
        </li>
        <li>
        	Customise with add-on apps and APIs
            System requirements:  Windows & Mac
             
        </li>
    </ul>
    <h2 style="text-align: center;"><b>Work faster with specialised toolsets : </b></h2>
    
    <h3 style="text-align: center;"><b>AutoCAD includes industry-specific features and intelligent objects for architecture, mechanical engineering, electrical design and more.</b></h3>
   <h3> 
       <ul>

       <li>	Automate floor plans, sections and elevations</li>
    
	<li>Draw piping, ducting and circuiting quickly with parts libraries</li>

<li>Auto-generate annotations, layers, schedules, lists and tables</li>

<li>Use a rules-driven workflow to accurately enforce industry standards</li>
</ul>
</h3>
<div class="img" align="center">
    <img src="./assets/autocad2.jpg" class="col-md-6 col-sm-12">
</div>
<br>
<br>
<div class="video">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/2-yK7vyJlM0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br>
  <div align="center" >
    <button mat-raised-button color="primary" routerLink="/autocadpricesection" routerLinkActive="active" style="height: 100px; width: 200px;">BUY NOW >> </button>
</div>
<br>
  
</div>

