<div class="container-fluid" style="background-color: black;">
  <div class="row">
    <div class="col-md-4 col-sm-3" style="text-align: center;" >
      <h4 style="color:white;font-size: larger;" class="m-3">CONTACT US</h4>
      <p style=" color: white;;">Vijay Maligi<br><i class="far fa-envelope mr-1" style="color:#51AFE8;"></i>vijay@prasoftit.in<br><i class="fas fa-mobile-alt mr-1" style="color: #51AFE8;"></i>+91-9908795678</p>
    </div>
    <div class="col-md-4 col-sm-3" style="text-align: center;" >
      <h4 style="color:white;font-size: larger;" class="m-3">SALES</h4>
      <p style=" color: white;"><i class="fas fa-globe-americas mr-1"  style="color:#51AFE8"></i>Sales@shopsoftwaare.in<br><i class="fas fa-globe mr-1" style="color: #51AFE8;"></i>Sales@shopcomputer.in</p>
    </div>
    <div class="col-md-4 col-sm-3" style="text-align: center;" >
      <h4 style="color:white;font-size: larger;" class="m-3">TECHNICAL SUPPORT</h4>
      <p style=" color: white;"><i class="fas fa-globe-americas mr-1"  style="color:#51AFE8"></i>Support@shopsoftwaare.in<br><i class="far fa-envelope mr-1" style="color: #51AFE8;"></i>Support@shopsoftwaare.in</p>
    </div>
  </div>

</div>