<div class="background">

<br>

<hr>
<h1 style="text-align: center;"><b>WPS OFFICE</b></h1>
<hr>
<br>
<h1 style="text-align: center;"><b>An Easier Way To Start Work</b></h1>
<br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
<img src="../assets/highcompatbility.jpg" width="100%" >
        </div>    
    <div class="col-md-4 col-sm-12">
<img src="../assets/ultralight.jpg" width="100%">
      
    </div>
    <div class="col-md-4 col-sm-12">
        <img src="../assets/language.jpg" width="100%">
    </div>
    </div>

<br>
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-2">
        <img src="../assets/presentation.jpg" width="100%">
</div>
<div class="col-md-3 col-sm-12 mb-2">
        <img src="../assets/writer.jpg" width="100%">
    </div>
    <div class="col-md-3 col-sm-12 mb-2">
        <img src="../assets/spreadsheets.jpg" width="100%">
    </div>
    <div class="col-md-3 col-sm-12 mb-2">
        <img src="../assets/pdf.jpg" width="100%">
    </div>
</div>
<br>
<br>
<br>
<app-wpspremium></app-wpspremium>


<h1 style="text-align: center;"> <b> Payment Options: </b>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Net Banking</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button value="2">Debit Card</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button value="3">Credit Card</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button value="4">UPI</mat-radio-button>
      </mat-radio-group>

</h1>  
<br>
<br>
<h1 style="text-align: center;"><b>A new generation of office solution</b></h1>

<p style="text-align: center;">With PDF, Cloud , OCR , file repair and other poweful tools, WPS Office is quickly becoming more and more people's first choice in office software</p>
 <div class="row">
     <div class="col-md-3 col-sm-12 offset-md-2 mb-2" >
<img src="../assets/powerfulpdf.jpg" width="100%">
</div>
<div class="col-md-3  col-sm-12 mb-2">
        <img src="../assets/wpscloud.jpg" width="100%">
    </div>
    <div class="col-md-3  col-sm-12 mb-2">
        <img src="../assets/specialfeatures.jpg" width="100%">
    </div>
</div>
<br>
<br>
<br>
<h1 style="text-align: center;"><b>Product Comparisions</b></h1>

   <div style="margin-left: 20px; margin-right: 20px;"> 
<img src="../assets/productcomparision.JPG" width="100%">
</div>

</div>