.c1{
    margin-left: 250px;
height:350px;
width:800px;
background-color: transparent;

}
.c2
{
    height:300px;

        display: inline-block;
       
      
}
.background
{
    background-color: lightgray;
}