<div class="background">    
    <div class="img">
        <img src="./assets/graebert.jpg" width="100%">
    </div>
    <br>
    <h2 style="text-align: center;"><b>The ARES® Trinity of CAD Software</b></h2>
    <h2 style="text-align: center;"><b>Modern DWG Editing for Desktop, Mobile and Cloud</b></h2>
    <h2 style="text-align: center; color: blue;" ><b>GRAEBERT IS A LEADING DEVELOPER OF CAD SOFTWARE
        FOR ALL MODERN OPERATING SYSTEMS
        </b></h2>
        <p style="text-align: center;">Graebert’s product portfolio is anchored by the ARES® “Trinity” of CAD Software for DWG-editing including ARES Commander™ for Windows®, macOS® and Linux® computers, ARES Touch™ for Android® and iOS® smartphones and tablets and ARES Kudo™, a full browser-based solution for DWG-editing in the Cloud. Graebert’s innovative approach is to combine these 3 solutions into a single ecosystem and subscription.</p>
        <br>
        <br>
        <div class="img" align="center">
            <img src="./assets/graebert2.jpg" width="70%">
        </div>
        <br>
        <p style="text-align: center;">The ARES Trinity of CAD Software bundles ARES Commander as well as ARES Touch and ARES Kudo into an all-inclusive suite to create and modify your technical drawings anywhere, on any device.</p>
        <br>
        <h1 style="text-align: center;"><b>Products:</b></h1>
        <div fxlayout="col" style="margin-right: 20px;margin-left: 20px;">
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-2">
        <mat-card fxFlex="100" style="height: 300px;">
            <mat-card-content align="center">
            <img src="./assets/arescommander.png" width="70%">
        <br>
        <h3><b>Powerful, DWG-based CAD software for Windows®, macOS® and Linux </b></h3>

                <button mat-raised-button color="primary" align="center" routerLink="/graebertproducts" routerLinkActive="active" (click)="arescommander()">Buy Now</button>
            
            </mat-card-content>
            
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
            <mat-card fxFlex="100"  style="height: 300px;">
            <mat-card-content align="center">
                <img src="./assets/arestouch.png" width="70%">
            <br>
    <h3><b>DWG-based CAD Solution for android and iOS smartphones and tablets</b></h3>
                    <button mat-raised-button color="primary" align="center" routerLink="/graebertproducts" routerLinkActive="active" (click)="arestouch()">Buy Now</button>
                
                </mat-card-content>
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mb-2 ">
        <mat-card fxFlex="100"  style="height: 300px;">
            <mat-card-content align="center">
                <img src="./assets/areskudo.png" width="70%">
            <br>
    <h3><b>Cloud-based CAD Software for DWG drawings</b></h3>
                    <button mat-raised-button color="primary" align="center" routerLink="/graebertproducts" routerLinkActive="active" (click)="areskudo()">Buy Now</button>
                
                </mat-card-content>
        </mat-card>
        </div>
    
    <!-- <div fxlayout="col" style="margin-right: 20px;margin-left: 200px; "align="center"> -->
        <div class="col-md-4 col-sm-12 offset-md-2 mt-2 mb-2">
        <mat-card fxFlex="100" style="height: 300px;">
            <mat-card-content align="center">
            <img src="./assets/aresmech.png" width="70%">
        <br>
<h3><b>2D Mechanical CAD solution based on the ARES Commander CAD engine </b></h3>
                <button mat-raised-button color="primary" align="center" routerLink="/graebertpricesection5" routerLinkActive="active" (click)="aresmechanical()">Buy Now</button>
            
            </mat-card-content>
            
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2 mb-2">
        <mat-card fxFlex="100"  style="height: 300px;">
            <mat-card-content align="center">
                <img src="./assets/aresmap.png" width="70%">
            <br>
            <h3><b>powerful, DWG-based CAD software for Windows, macOS and Linux</b></h3>
    
                    <button mat-raised-button color="primary" align="center" routerLink="/graebertpricesection4" routerLinkActive="active" (click)="aresmap()">Buy Now</button>
                
                </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>
    
</div>