/* .c1{
    margin-left: 250px;
height:335px;
width:800px;
background-color: transparent;
outline: solid;
}
.c2
{
    height:300px;

        display: inline-block;
       
      
} */
.size
{
    width:20px;
    outline: none;
    
}