<div class="background"> 
  <br>
<h1 style="text-align: center;"><b>Microsoft Office Professional Plus</b></h1>
<br>


<mat-tab-group mat-align-tabs="center" animationDuration="2000ms" style="margin-left: 30px; margin-right: 30px;" >
    
    <mat-tab label="Academic"><div fxlayout="col">
      <div class="row m-2">
        <div class=" col-md-6 col-sm-12 mt-2">
        <mat-card fxFlex="100" style="outline: solid; height: 500px;" >
<mat-card-title>
  <b> Product Description</b>
</mat-card-title>
<br>
<br>
<mat-card-content>
  Part No. : 79P-05717
<br>
  Microsoft®OfficeProfessionalPlus 2019 Sngl Academic OLP 1License NoLevel
  

</mat-card-content>
        </mat-card>
        </div>
        
          <div class=" col-md-6 col-sm-12 mt-2">
        <mat-card fxFlex="100" style="outline: solid; height: 500px;">
          <button type="button" (click)="sub()" mat-flat-button >-</button>
          <input type="text" [value]="quantity2" class="size" >
          <button type="button" (click)="add()" mat-flat-button >+</button>
          <h3><b>Price</b>={{price2}} INR</h3>
          <h3><b>18% GST</b>={{gst2}} INR</h3>
          <h3><b>Total Price</b>={{totalprice2}} INR</h3>
       </mat-card> 
       </div>
      </div>
    </div> </mat-tab>
       <mat-tab label="Charity"><div fxlayout="col">
        <div class="row m-2">
          <div class=" col-md-6 col-sm-12 mt-2">
          <mat-card fxFlex="100" style="outline: solid; height: 400px;" >
  <mat-card-title>
    <b> Product Description</b>
  </mat-card-title>
  <br>
  <br>
  <mat-card-content>
    Part No. : 79P-05728
<br>
    Microsoft®OfficeProfessionalPlus 2019 Sngl Charity OLP 1License NoLevel
    
      
  </mat-card-content>
          </mat-card>
          </div>
        
            <div class=" col-md-6 col-sm-12 mt-2">
          <mat-card fxFlex="100" style="outline: solid; height: 400px;">
            <button type="button" (click)="s()" mat-flat-button >-</button>
            <input type="text" [value]="quantity3" class="size" >
            <button type="button" (click)="a()" mat-flat-button >+</button>
            <h3><b>Price</b>={{price3}} INR</h3>
            <h3><b>18% GST</b>={{gst3}} INR</h3>
            <h3><b>Total Price</b>={{totalprice3}} INR</h3>
         </mat-card> 
         </div>
        </div>
      </div>
     </mat-tab>
         <mat-tab label="Commercial"><div fxlayout="col">
          <div class="row m-2">
            <div class=" col-md-6 col-sm-12 mt-2">
          <mat-card fxFlex="100" style="outline: solid; height: 400px;" >
  <mat-card-title>
    <b> Product Description</b>
  </mat-card-title>
  <br>
  <br>
  <mat-card-content>
    
    Part No. : 79P-05729
<br>
    Microsoft®OfficeProfessionalPlus 2019 Sngl OLP 1License NoLevel
    
      
  </mat-card-content>
          </mat-card>
          </div>
          
            <div class=" col-md-6 col-sm-12 mt-2">
          <mat-card fxFlex="100" style="outline: solid; height: 400px;">
            <button type="button" (click)="less()" mat-flat-button >-</button>
            <input type="text" [value]="quantity4" class="size" >
            <button type="button" (click)="more()" mat-flat-button >+</button>
            <h3><b>Price</b>={{price4}} INR</h3>
            <h3><b>18% GST</b>={{gst4}} INR</h3>
            <h3><b>Total Price</b>={{totalprice4}} INR</h3>
         </mat-card> 
         </div>
        </div>
      </div> </mat-tab>
         <mat-tab label="Government"><div fxlayout="col">
          <div class="row m-2">
            <div class=" col-md-6 col-sm-12 mt-2">
          <mat-card fxFlex="100" style="outline: solid; height: 400px;" >
  <mat-card-title>
    <b> Product Description</b>
  </mat-card-title>
  <br>
  <br>
  <mat-card-content>
    
    Part No. : 79P-05738
<br>
    Microsoft®OfficeProfessionalPlus 2019 Government OLP 1License NoLevel
    
      
      
  </mat-card-content>
  
          </mat-card>
          </div>
          
            <div class=" col-md-6 col-sm-12 mt-2">
          <mat-card fxFlex="100" style="outline: solid; height: 400px;">
            <button type="button" (click)="substraction()" mat-flat-button >-</button>
            <input type="text" [value]="quantity5" class="size" >
            <button type="button" (click)="addition()" mat-flat-button >+</button>
            <h3><b>Price</b>={{price5}} INR</h3>
            <h3><b>18% GST</b>={{gst5}} INR</h3>
            <h3><b>Total Price</b>={{totalprice5}} INR</h3>
         </mat-card> 
         </div> 
        </div>
      </div></mat-tab>
  </mat-tab-group>

<br>
<br>


</div>