<div class="background">
    <br>
    <br>
    <div class="img">
        <img src="../assets/officestd2019banner.jpg" style="width:100%;">
    </div>
    <br>
    <h3 style="text-align: center;">The essentials for businesses that need desktop Office applications for PC.</h3>
<h2 style="text-align: center;"><b>Office applications included</b></h2>
<div fxlayout="col" style="margin-right: 20px;margin-left: 20px;">
    <div class="row">
        <div class="col-md-2 offset-md-1 col-sm-12 mt-2">
    <mat-card fxFlex="100" >
        <img src="../assets/outlook.png" width="100%">
            <br>
<h2 style="text-align: center;"><b>Outlook</b></h2>
        </mat-card> 
    </div>
    <div class="col-md-2 col-sm-12 mt-2">
        <mat-card fxFlex="100" >
            <img src="../assets/word.png" width="100%">
            <br>
            <h2 style="text-align: center;"><b>Word</b></h2>
        </mat-card>
        </div>
        <div class="col-md-2 col-sm-12 mt-2">
        <mat-card fxFlex="100">
            <img src="../assets/excel.png" width="100%">
            <br>
            <h2 style="text-align: center;"><b>Excel</b></h2>
        </mat-card> 
        </div>
        <div class="col-md-2 col-sm-12 mt-2">
        <mat-card fxFlex="100">
            <img src="../assets/powerpoint.png" width="100%">
            <br>
            <h2 style="text-align: center;"><b>PowerPoint</b></h2>
        </mat-card> 
        </div>
        <div class="col-md-2 col-sm-12 mt-2">
        <mat-card fxFlex="100" >
            <img src="../assets/Publisher.png" width="100%">
            <br>
            <br>
            <h2 style="text-align: center;"><b>Publisher (PC Only)</b></h2>
        </mat-card>  
        </div>
        </div>
        </div>
        <br>
        <ul>
            <li>	Classic versions of the Office apps installed on one PC or Mac: Outlook, Word, Excel, PowerPoint, and Publisher</li>
            <li>	OneNote: Access to additional OneNote features (features vary)</li>
            <li>	Web versions of Word, OneNote, Excel, and PowerPoint</li>
            <li>	Administrators can centrally control computers and user accounts with group policy</li>
            <li>	Administrators can deploy software to many users at once with volume activation</li>
            <li> 	Take control of a remote computer or virtual machine over a network connection with terminal services</li>
            <li>	Make decisions with app telemetry, an automated remote measurement and collection of data that you can turn into useful analytics</li>
            <li> 	Safeguard digital information from unauthorized use through integration with Windows Rights Management Services (RMS) for Windows Server</li>
            
        </ul>
        <br>
            <div align="center" >
                <button mat-raised-button color="primary" routerLink="/microsoftpricesection2" routerLinkActive="active" style="height: 100px; width: 200px;">BUY NOW >> </button>
            
            </div>
            <br>
    
    </div>
