<div class="background">
    
  
  
    <div  class="imageslider">
    <app-imageslider></app-imageslider>
  </div>
<br>
<br>

<h1  style="text-align:center" id="company_details"><b>ABOUT US</b></h1>
        
    <div style="margin-left: 20px; text-justify: auto;" class="mb-2">
        <p>We Love What We Do

            Prasoft is a value added distributor & reseller, providing supply chain 
            services and connecting best-in-breed software
             publishers in support global distributors in India.
            <br>
            Each of our 100+ product lines are carefully selected to reflect
             our standards of quality and reliability. 
            Whether you’re purchasing established or emerging technology, 
            Prasoft and its vendor selection ensures the customers
             receive the best value on the market.
             <br>
             Prasoft is a value added distributor & reseller, providing supply chain 
            services and connecting best-in-breed software
             publishers in support global distributors in India.
            <br>
            Each of our 100+ product lines are carefully selected to reflect
             our standards of quality and reliability. 
            Whether you’re purchasing established or emerging technology, 
            Prasoft and its vendor selection ensures the customers
             receive the best value on the market.
             </p>
            </div>
    

 <div class="card-group ">
   <div class="row mb-2  ml-2 mr-2">
     <div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/Security.jpeg" class="card-img-top" alt="img1">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>SECURITY</b></h5>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/analytics.jpg" class="card-img-top" alt="img2">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>ANALYTICS</b></h5>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/c.jpg" class="card-img-top" alt="img3">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>CLOUD</b></h5>
    </div>
  </div>
   </div>
   </div>
   <div class="row mb-2 ml-2 mr-2">
    <div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/backup.jpg" class="card-img-top" alt="img4">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>  OPEN SOURCE </b></h5>
    </div>
  </div>
    </div>
    <div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/Engineering Application.jpg" class="card-img-top" alt="img5">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>ENGINEERING APPLICATIONS</b></h5>
    </div>
  </div>
    </div>
    <div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/converged infrastructure and storage.jpg" class="card-img-top" alt="img6">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>CONVERGED INFRASTRUCTURE</b></h5>
    </div>
  </div>
  </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 col-sm-12 offset-md-2">
  <div class="card">
    <img src="./assets/opensource.jpg" class="card-img-top" alt="img4">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b>OPEN SOURCE</b></h5>
    </div>
  </div>
    </div>
    <div class="col-md-4 col-sm-12">
  <div class="card">
    <img src="./assets/network_management.jpg" class="card-img-top" alt="img5">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center; font-size: larger;"><b> NETWORK MANAGEMENT </b></h5>
    </div>
  </div>
    </div>
</div>
</div>

