<div class="background">
    <div class="img">
        <img src="../assets/opp2019.jpg" style="width: 100%;">
    </div>
    <br>
    <h3 style="text-align: center;"><b>The essentials for businesses that need desktop Office applications for PC plus instant messaging and HD video conferencing.</b></h3>
    <h1 style="text-align: center;"><b>Office applications included</b></h1>
    <br>
    <div fxlayout="col" style="margin-right: 20px;margin-left: 20px;">
        <div class="row">
        <div class="col-md-3 col-sm-12 mt-2">
        <mat-card style="height: 100%;">
            <img src="../assets/outlook.png" width="70%" style="text-align: center;margin-left: 10%;">
              
    <h2 style="text-align: center;"><b>Outlook</b></h2>
            </mat-card >
            </div>
            <div class="col-md-3 col-sm-12 mt-2">
            <mat-card style="height: 100%;" >
                <img src="../assets/word.png" width="70%" style="text-align: center;margin-left: 10%;"> 
              
                <h2 style="text-align: center;"><b>Word</b></h2>
            </mat-card> 
        </div>
        <div class="col-md-3 col-sm-12 mt-2">
            <mat-card  style="height: 100%;">
                <img src="../assets/excel.png" width="66%" style="text-align: center;margin-top:15px;margin-left: 10%;">
                
                <h2 style="text-align: center;"><b>Excel</b></h2>
            </mat-card>  
        </div>
            <div class="col-md-3 col-sm-12 mt-2">
            <mat-card style="height: 100%;">
                <img src="../assets/powerpoint.png" width="70%" style="text-align: center;margin-left: 10%;">
               
                <h2 style="text-align: center;"><b>PowerPoint</b></h2>
            </mat-card>  
            </div>
            <div class="col-md-3 col-sm-12 mt-2">
            <mat-card style="height: 100%;">
                <img src="../assets/Publisher.png" width="70%" style="text-align: center;margin-top:9px;margin-left: 10%;">
               
                <h2 style="text-align: center;"><b>Publisher (PC Only)</b></h2>
            </mat-card> 
            </div>
            <div class="col-md-3 col-sm-12 mt-2">
                <mat-card style="height: 100%;">
                    <img src="../assets/access.png" width="70%" style="text-align: center;margin-left: 10%;">
                    
                    <h2 style="text-align: center;"><b>Publisher (PC Only)</b></h2>
                </mat-card> 
                </div>
                <div class="col-md-3  col-sm-12 mt-2">
                <mat-card  style="height: 100%;">
                    <img src="../assets/Skype.png" width="70%" style="text-align: center;margin-left: 10%;">
                   
                    <h2 style="text-align: center;"><b>Publisher (PC Only)</b></h2>
                </mat-card> 
                </div>
            </div>
            <br>
            <br>
            <ul>
                <li>Classic versions of the Office apps installed on one PC or Mac: Outlook, Word, Excel, PowerPoint, Publisher, and Access</li>
                <li>OneNote: Access to additional OneNote features (features vary)</li>
                <li>Web versions of Word, OneNote, Excel, and PowerPoint</li>
                <li>Be more productive by communicating and collaborating easily with others in different locations with Skype for Business.</li>
                <li>Administrators can centrally control computers and user accounts with group policy</li>
                <li>Administrators can deploy software to many users at once with volume activation</li>
                <li>Take control of a remote computer or virtual machine over a network connection with terminal services</li>
                <li>Make decisions with app telemetry, an automated remote measurement and collection of data that you can turn into useful analytics</li>
                <li>Archive email right from Outlook—no .pst files needed—and set retention policies that automatically archive or delete email. IT admins can centrally manage the In-Place Archive and eDiscovery. Prevent loss of sensitive data via email with Outlook Policy Tips and Exchange Data Loss Prevention. Scan spreadsheets for errors and inconsistencies with Inquire in Excel, and view audit trails with Spreadsheet Compare. </li>
                <li>Streamline integration and manipulation of large volumes of data from various sources and perform rapid analysis using Power Pivot native in Excel. Explore different cuts and views of data in a click in a pivot table or pivot chart. Compile data, charts, and graphs into a single, interactive Power View.</li>
                <li> Place voice calls using the Lync client or Skype for Business client, initiate a call from the contact list by typing a name or number, or use a dial pad to initiate PSTN calls. Easily switch a call between devices, park calls, access voicemail from the Lync client or Skype for Business client, and use Enterprise Voice features under VDI</li>
                <li>Safeguard digital information from unauthorized use through integration with Windows Rights Management Services (RMS) for Windows Server</li>
                <li>Easily communicate with others in different locations or time zones using familiar Office tools and Skype for Business</li>
                <li>Increase collaboration and improve team productivity with site mailboxes. Access project-related email in Exchange and documents in SharePoint, all from within Outlook, with access restricted to team members who have the right permissions</li>
                

            </ul>
            <br>
            <div align="center" >
                <button mat-raised-button color="primary" routerLink="/microsoftpricesection3" routerLinkActive="active" style="height: 100px; width: 200px;">BUY NOW >> </button>
            
            </div>
            <br>
            

</div>