<div class="background">
       <div class="img">
        <img src="../assets/windows10banner.jpg" width="100%">
    </div>
    <br>
    <h1 style="text-align: center;"><b>Windows10 Pro</b></h1>
    <p style="text-align: center;">Get all the features of Windows 10 Home operating system plus Remote Desktop, Windows Information Protection, BitLocker and a suite of tools designed for business use. Licensed for one PC or Mac. Windows Information Protection requires either Mobile Device Management or System Center Configuration Manager to manage settings. These products are sold separately. Active Directory makes management easier but is not required. Requires TPM 1.2 or greater for TPM based key protection.</p>
    <h3 style="text-align: center; color: blue;"><b>Works how you work</b></h3>
    <h3 style="text-align: center;"><b>Windows 10 Pro is designed for how you work now – and ready for how you’ll work tomorrow.</b></h3>
    <div fxlayout="col" style="margin-right: 20px;margin-left: 60px;">
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-2" >
        <mat-card fxFlex="100" style="height: 450px; background-color:lightblue;">
            
            <mat-card-content>
                <img src="./assets/windows-10-1.jpg" width="100%" align="center">
            <br>
            <h2 style="text-align: center; "><b>Remote Desktop</b></h2>
           
            <h4 style="text-align: center;"><b>Remote desktop lets you unlock and access your own machine virtually – all your files, folders and apps – from any device via Internet.</b></h4>
        </mat-card-content>
           
        </mat-card>
        </div>
        <div class="col-md-6 col-sm-12 mt-2" >
        <mat-card fxFlex="100"  style="height: 450px; background-color:lightblue;">
            <mat-card-content>
                <img src="./assets/windows-10-2.jpg" width="100%" align="center">
                <br>
            <h2 style="text-align: center; "><b>Microsoft 365 Business</b></h2>
      
            <h4 style="text-align: center;"><b>Employees can collaborate virtually without compromising privacy and security. Chat, meet, call and collaborate all in one place with Microsoft Teams.</b> </h4>

            </mat-card-content>
           
        </mat-card>
        </div>
        </div>
</div>
        <br>
        <br>
        <h2 style="text-align: center; color: blue;"><b>Simple, flexible management</b></h2>
    <p style="text-align: center;">Windows 10 Pro simplifies identity, device and application management so you can focus on your business. With intuitive control over your IT infrastructure, your business can be ready for anything.</p>
    
    <br>
        <h2 style="text-align: center; color: blue;"><b>Powerful protection you can trust</b></h2>
    <p style="text-align: center;">Windows 10 includes built-in protections for your data, equipment and people, securing business information and personal identities even on lost or stolen devices.</p>
    <br>
    <br>
    <div align="center" >
        <button mat-raised-button color="primary" routerLink="/microsoftpricesection1" routerLinkActive="active" style="height: 100px; width: 200px;">BUY NOW >> </button>
    
    </div>
    <br>
   
</div>