<div class="background">

    <div class="img">
        <img src="./assets/Sqlbanner.jpg" width="100%">
    </div>
    <br>
    <h2 style="color: blue; text-align: center;"><b>What you’ll love about SQL Server 2019</b></h2>
  

    <div fxlayout="col" style="margin-right: 20px;margin-left: 20px;">
        <div class="row">
            <div class="col-md-4 col-sm-12 mt-2">
        <mat-card fxFlex="100" style="height: 420px;">
            <mat-card-content>
            <img src="./assets/sql1.png" width="50%">
            
            <h1 style="text-align: center; color: blue;"><b>Analyse every type of data</b></h1>
            <h4 style="text-align: center;"><b>Gain insights from all your data by querying across relational, non-relational, structured and unstructured data, for a complete picture of your business using SQL Server 2019 with Apache Spark built in.</b></h4>
        </mat-card-content>
            
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
        <mat-card fxFlex="100"  style="height: 420px;">
            <mat-card-content>
                <img src="./assets/sql2.png" width="50%">
                
                <h1 style="text-align: center; color:blue;"><b>Choose your language and platform</b></h1>
            <h4 style="text-align: center;"><b>Get the flexibility to use the language and platform of your choice with open source support. Run SQL Server on Linux containers with Kubernetes support or on Windows.</b></h4>
            </mat-card-content>
             
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
        <mat-card fxFlex="100"  style="height: 420px;">
            <mat-card-content>
                <img src="./assets/sql3.png" width="50%">
                
                <h1 style="text-align: center; color: blue;"><b>Rely on industry-leading performance</b></h1>
            <h4 style="text-align: center;"><b>Take advantage of breakthrough scalability and performance to improve the stability and response time of your database – without making app changes. Get high availability for mission-critical applications, data warehouses and data lakes.</b></h4>
            </mat-card-content>
            
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
           <mat-card fxFlex="100" style="height: 420px;">
            <mat-card-content>
                <img src="./assets/sql4.png" width="50%">
                
                <h1 style="text-align: center; color:blue;"><b>Trust nine years of proven security leadership</b></h1>
            <h4 style="text-align: center;"><b>Achieve your security and compliance goals using the database rated as least vulnerable over the last nine years. Stay a step ahead using built-in features for data classification, data protection and monitoring and alerts</b></h4>
            </mat-card-content>
            
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
        <mat-card fxFlex="100"  style="height: 420px;">
            <mat-card-content>
                <img src="./assets/sql5.png" width="50%">
                
                <h1 style="text-align: center; color: blue;"><b>Make faster, better decisions</b></h1>
            <h4 style="text-align: center;"><b>Turn data into answers using the enterprise reporting capabilities of SQL Server Reporting Services along with the included Power BI Report Server, which gives your users access to rich, interactive Power BI reports on any device.</b></h4>
            </mat-card-content>
            
        </mat-card>
        </div>
<br>
<br>
</div>
<div class="video mt-2">
    <iframe width="100%" height="615" src="https://www.youtube.com/embed/Onx8nLnZYVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<br>
<div align="center" >
    <button mat-raised-button color="primary" routerLink="/microsoftpricesection4" routerLinkActive="active" style="height: 100px; width: 200px;">BUY NOW >> </button>

</div>
<br>

    
</div>
