<div class="background">
      <div class="img">
        <img src="./assets/m365banner.jpg" width="100%">
    </div>
    <br>
    <br>
    <h2 style="text-align: center; color: blue;"><b>Designed to help you achieve more with innovative Office apps, intelligent cloud services, and world-class security</b></h2>
    <h1 style="text-align: center;"><b>Office 365 is now Microsoft 365</b></h1>
    <br>
    <br>
    <h1 style="text-align: center;"><b>FOR BUSINESS:</b></h1>
    <br>
    

    <div fxlayout="col" style="margin-right: 20px;margin-left: 20px;">
      <div class="row">
      <div class="col-md-3 col-sm-12 mt-2">
        <mat-card fxFlex="100" style="height: 750px;  outline: solid;">
           <mat-card-title><h2><b>Microsoft 365 Business Basic</b></h2></mat-card-title> 
           <h3 style="text-align: center;">Price: 200</h3>
           <mat-card-actions align="center">
           <button mat-raised-button color="primary" align="center" routerLink="/m365pricesection1" routerLinkActive="active">Buy Now</button>
        </mat-card-actions>
        <br>
        <h4 style="text-align: center;">Best for businesses that need Microsoft Teams and cloud storage. Desktop versions of Office apps not included</h4>
        <br>
        <h2 style="text-align: center;"><b>Premium office apps included</b></h2>
        <h4 style="text-align: center;">(Web and mobile versions of Word, Excel, and PowerPoint included.)</h4>
        <br>
        <h2 style="text-align: center;"><b>Secure cloud services included</b></h2>
        <h4 style="text-align: center;">Exchange, One Drive, Share points, team</h4>
    </mat-card>
  </div>
  <div class="col-md-3 col-sm-12 mt-2">
        <mat-card fxFlex="100"  style="height: 750px; outline: solid;">
            <mat-card-title><h2><b>Microsoft 365 Business Standard</b></h2></mat-card-title> 
            <h3 style="text-align: center;">Price: 200</h3>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" align="center" routerLink="/m365pricesection2" routerLinkActive="active">Buy Now</button>
             </mat-card-actions>
             <h4 style="text-align: center;">Best for businesses that need Office apps across devices plus business email, cloud file storage, and online meetings and chat.</h4>
             <br>
             <h2 style="text-align: center;"><b>Premium office apps included</b></h2>
             <h4 style="text-align: center;">Outlook, word, Excel, Power point, Publisher (PC Only), Access (PC Only) </h4>
             <br>
             <h2 style="text-align: center;"><b>Secure cloud services included</b></h2>
             <h4 style="text-align: center;">Exchange, One Drive, Share points, team</h4>
            </mat-card>
            </div>
            <div class="col-md-3 col-sm-12 mt-2">
        <mat-card fxFlex="100" style="height: 750px;  outline: solid;">
            <mat-card-title><h2><b>Microsoft 365 Business Premium</b></h2></mat-card-title> 
            <h3 style="text-align: center;">Price: 200</h3>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" align="center" routerLink="/m365pricesection3" routerLinkActive="active">Buy Now</button>
             </mat-card-actions>
             <h4 style="text-align: center;">Best for businesses that need everything included in Business Standard plus advanced cyberthreat protection and device management.</h4>
             <br>
             <h2 style="text-align: center;"><b>Premium office apps included</b></h2>
         <h4 style="text-align: center;">Outlook, word, Excel, Power point, Publisher (PC Only), Access (PC Only) </h4>
         <br>
         <h2 style="text-align: center;"><b>Secure cloud services included</b></h2>
         <h4 style="text-align: center;">Exchange, One Drive, Share points, team, intune, Azure Information Protection</h4>
            </mat-card>
            </div>
            <div class="col-md-3 col-sm-12 mt-2">
        <mat-card fxFlex="100"  style="height: 750px; outline: solid;">
            <mat-card-title><h2><b>Microsoft 365 Apps for business</b></h2></mat-card-title> 
           <h3 style="text-align: center;">Price: 200</h3>
           <mat-card-actions align="center">
            <button mat-raised-button color="primary" align="center" routerLink="/m365pricesection4" routerLinkActive="active">Buy Now</button>
         </mat-card-actions>
         <br>
         <h4 style="text-align: center;">Best for businesses that need Office apps across devices and cloud file storage. Business email and Microsoft Teams not included.</h4>
         <br>
         <h2 style="text-align: center;"><b>Premium office apps included</b></h2>
             <h4 style="text-align: center;">Outlook, word, Excel, Power point, Publisher (PC Only), Access (PC Only) </h4>
             <br>
             <h2 style="text-align: center;"><b>Secure cloud services included</b></h2>
             <h4 style="text-align: center;">One Drive</h4>
         
         <br>
         
        </mat-card>
        </div>
        </div>
      </div>

        <br>
        <br>
        <br>
        <div align="center">
        <span class="material-icons">
            done_outline
            </span> &nbsp; &nbsp; Partially Included &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <i class="fa fa-check" aria-hidden="true"></i>&nbsp; &nbsp; Included
        </div>
            <hr>
          <mat-accordion class="example-headers-align" multi hideToggle>
            <mat-expansion-panel>
              <mat-expansion-panel-header style="height: 100px;">
                <mat-panel-title>
                    <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                </mat-panel-title>
                <mat-panel-description>
                Web and Mobile Versions of Office App
                 
                </mat-panel-description>
                <mat-panel-description>
                    <i class="fa fa-check" aria-hidden="true"></i>
                 
                </mat-panel-description>
                <mat-panel-description>
                    <i class="fa fa-check" aria-hidden="true"></i>
                   
                  </mat-panel-description>
                  <mat-panel-description>
                    <i class="fa fa-check" aria-hidden="true"></i>
                   
                  </mat-panel-description>
                  <mat-panel-description>
                    <i class="fa fa-check" aria-hidden="true"></i>
                   
                  </mat-panel-description>
              </mat-expansion-panel-header>
          
              <img src="./assets/accordian1.jpg">
          
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header style="height: 100px;">
                    <mat-panel-title>
                        <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                    </mat-panel-title>
                    <mat-panel-description>
                    E-mail and Calendaring
                     
                    </mat-panel-description>
                    <mat-panel-description>
                        <i class="fa fa-check" aria-hidden="true"></i>
                     
                    </mat-panel-description>
                    <mat-panel-description>
                        <i class="fa fa-check" aria-hidden="true"></i>
                       
                      </mat-panel-description>
                      <mat-panel-description>
                        <i class="fa fa-check" aria-hidden="true"></i>
                       
                      </mat-panel-description>
                      <mat-panel-description>
                        
                       
                      </mat-panel-description>
                  </mat-expansion-panel-header>
              
          
                  <img src="./assets/accordian2.jpg">
            </mat-expansion-panel>
          
            
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="height: 100px;">
                        <mat-panel-title>
                            <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                        </mat-panel-title>
                        <mat-panel-description>
                        TeamWork And Communication
                         
                        </mat-panel-description>
                        <mat-panel-description>
                            <i class="fa fa-check" aria-hidden="true"></i>
                         
                        </mat-panel-description>
                        <mat-panel-description>
                            <i class="fa fa-check" aria-hidden="true"></i>
                           
                          </mat-panel-description>
                          <mat-panel-description>
                            <i class="fa fa-check" aria-hidden="true"></i>
                           
                          </mat-panel-description>
                          <mat-panel-description>
                            
                           
                          </mat-panel-description>
                      </mat-expansion-panel-header>
                      <img src="./assets/accordian3.jpg">
                    </mat-expansion-panel>
              
                    <mat-expansion-panel>
                        <mat-expansion-panel-header style="height: 100px;">
                            <mat-panel-title>
                                <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                            </mat-panel-title>
                            <mat-panel-description>
                            File Storage And Sharing
                             
                            </mat-panel-description>
                            <mat-panel-description>
                                <i class="fa fa-check" aria-hidden="true"></i>
                             
                            </mat-panel-description>
                            <mat-panel-description>
                                <i class="fa fa-check" aria-hidden="true"></i>
                               
                              </mat-panel-description>
                              <mat-panel-description>
                                <i class="fa fa-check" aria-hidden="true"></i>
                               
                              </mat-panel-description>
                              <mat-panel-description>
                                <i class="fa fa-check" aria-hidden="true"></i>
                               
                              </mat-panel-description>
                          </mat-expansion-panel-header>
                          <img src="./assets/accordian4.jpg">
                        </mat-expansion-panel>
                  
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="height: 100px;">
                                <mat-panel-title>
                                    <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                                </mat-panel-title>
                                <mat-panel-description>
                                Security And Compliance
                                 
                                </mat-panel-description>
                                <mat-panel-description>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                 
                                </mat-panel-description>
                                <mat-panel-description>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                   
                                  </mat-panel-description>
                                  <mat-panel-description>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                   
                                  </mat-panel-description>
                                  <mat-panel-description>
                                    <span class="material-icons">
                                        done_outline
                                        </span>
                                   
                                  </mat-panel-description>
                              </mat-expansion-panel-header>
                              <img src="./assets/accordian5.jpg">
                            </mat-expansion-panel>
                      
                            <mat-expansion-panel>
                                <mat-expansion-panel-header style="height: 100px;">
                                    <mat-panel-title>
                                        <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    Support And Deployment
                                     
                                    </mat-panel-description>
                                    <mat-panel-description>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                     
                                    </mat-panel-description>
                                    <mat-panel-description>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                       
                                      </mat-panel-description>
                                      <mat-panel-description>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                       
                                      </mat-panel-description>
                                      <mat-panel-description>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                       
                                      </mat-panel-description>
                                  </mat-expansion-panel-header>
                                  <img src="./assets/accordian6.jpg">
                                </mat-expansion-panel>
                          
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header style="height: 100px;">
                                        <mat-panel-title>
                                            <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                        Tools To Build And Manage Your Business
                                         
                                        </mat-panel-description>
                                        <mat-panel-description>
                                            <span class="material-icons">
                                                done_outline
                                                </span>
                                         
                                        </mat-panel-description>
                                        <mat-panel-description>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                           
                                          </mat-panel-description>
                                          <mat-panel-description>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                           
                                          </mat-panel-description>
                                          <mat-panel-description>
                                            
                                           
                                          </mat-panel-description>
                                      </mat-expansion-panel-header>
                                      <img src="./assets/accordian7.jpg">
                                    </mat-expansion-panel>
                              
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header style="height: 100px;">
                                            <mat-panel-title>
                                                <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                            Desktop Versions Of Office Apps For PC And Mac
                                             
                                            </mat-panel-description>
                                            <mat-panel-description>
                                                
                                             
                                            </mat-panel-description>
                                            <mat-panel-description>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                               
                                              </mat-panel-description>
                                              <mat-panel-description>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                               
                                              </mat-panel-description>
                                              <mat-panel-description>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                               
                                              </mat-panel-description>
                                          </mat-expansion-panel-header>
                                          <img src="./assets/accordian8.jpg">
                                        </mat-expansion-panel>
                                  
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header style="height: 100px;">
                                                <mat-panel-title>
                                                    <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                Advanced Threat Protection
                                                 
                                                </mat-panel-description>
                                                <mat-panel-description>
                                                    
                                                 
                                                </mat-panel-description>
                                                <mat-panel-description>
                                                    
                                                   
                                                  </mat-panel-description>
                                                  <mat-panel-description>
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                   
                                                  </mat-panel-description>
                                                  <mat-panel-description>
                                                    
                                                   
                                                  </mat-panel-description>
                                              </mat-expansion-panel-header>
                                              <img src="./assets/accordian9.jpg">
                                            </mat-expansion-panel>
                                      
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header style="height: 100px;">
                                                    <mat-panel-title>
                                                        <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                    PC and Mobile Device Management
                                                     
                                                    </mat-panel-description>
                                                    <mat-panel-description>
                                                        
                                                     
                                                    </mat-panel-description>
                                                    <mat-panel-description>
                                                        
                                                       
                                                      </mat-panel-description>
                                                      <mat-panel-description>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                       
                                                      </mat-panel-description>
                                                      <mat-panel-description>
                                                        
                                                       
                                                      </mat-panel-description>
                                                  </mat-expansion-panel-header>
                                                  <img src="./assets/accordian10.jpg">
                                                </mat-expansion-panel>
                                                                                                                       
              
            
          </mat-accordion>


















<br>
        <br>
        <div class="video">
            <iframe width="100%" height="615" src="https://www.youtube.com/embed/m1Nu8WJgCDY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    <br>
    <br>
    
    </div>
