<div class="background">
    <div class="img">
        <img src="./assets/micrrosoftbanner.jpg" width="100%">
    </div>
    <br>
    <h2 style="text-align: center;"><B>We believe in what people make possible</B></h2>
    <h3 style="text-align: center;">Our mission is to empower every person and every organization on the planet to achieve more.</h3>
    <P style="text-align: center;">Microsoft enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more. Microsoft set up its India operations in 1990. Microsoft in India offers its global cloud services from local data centers to accelerate digital transformation across Indian start-ups, businesses, and government agencies</P>
    <br>
    
    <div fxlayout="col" style="margin-right: 20px;margin-left: 20px;">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-2"> 
        <mat-card fxFlex="100" style="height: 220px;">
            <mat-card-content>
            <img src="./assets/windows-10.png" width="100%">
        </mat-card-content>
           <mat-card-actions align="center">
               <button mat-raised-button color="primary" routerLink="/windows10" routerLinkActive="active">Buy Now</button>
           </mat-card-actions> 
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mb-2"> 
        <mat-card fxFlex="100"  style="height: 220px;">
            <mat-card-content>
                <img src="./assets/Office std 2019.png" width="100%">
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" routerLink="/std2019" routerLinkActive="active">Buy Now</button>
            </mat-card-actions> 
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mb-2"> 
        <mat-card fxFlex="100"  style="height: 220px;">
            <mat-card-content>
                <img src="./assets/Office Pro Plus 2019.png" width="100%">
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" routerLink="/officepp2019" routerLinkActive="active">Buy Now</button>
            </mat-card-actions> 
        </mat-card>
        </div>
  
    <div class="col-md-4 col-sm-12 mb-2"> 
        <mat-card fxFlex="100" style="height: 220px;">
            <mat-card-content>
                <img src="./assets/Sqlserver.png" width="100%">
            </mat-card-content>
           <mat-card-actions align="center">
               <button mat-raised-button color="primary" routerLink="/sqlserver" routerLinkActive="active">Buy Now</button>
           </mat-card-actions> 
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mb-2"> 
        <mat-card fxFlex="100"  style="height: 220px;">
            <mat-card-content>
                <img src="./assets/visual studio.png" width="100%">
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="accent" routerLink="/visualstudio" routerLinkActive="active">Know More</button>
            </mat-card-actions> 
        </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 mb-2"> 
        <mat-card fxFlex="100"  style="height: 220px;">
            <mat-card-content>
                <img src="./assets/M 365.png" width="100%">
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="accent" routerLink="/m365" routerLinkActive="active">Know More</button>
            </mat-card-actions> 
        </mat-card>
        </div>
    </div>
</div>
    
    
    </div>
