/* .c1
{
    margin-left: 150px;
    background:transparent;
    margin-right: 150px;
    
}
.c2
{
    margin-left: 350px;
    background: transparent;
    margin-right: 350px;
} */

.background
{
    background-color: lightgray;
}