<div class="background">

<div class="img">
        <img src="./assets/Adobe Banner.jpg" width="100%">
    </div>

<br>


<h1 style="text-align: center;"><b>Adobe connects content and data and introduce new technologies that democratize creativity shape the next generation of story telling and inspire entirely new categories of business</b></h1>
<br>
<br>
<h1 style="text-align: center;"><b>Products</b></h1>
<br>
<form>
    <div fxLayout="column" >
        <div class="row ml-2 mr-2">
         <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100" style="height: 350px;">
            <mat-card-content>
            <img src="../assets/acrobat.jpg" width="100%">
        </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="A()">Buy Now</button>
            </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/acrobatstandarddc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="B()">Buy Now</button>
                </mat-card-actions>

        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/adobeaudition.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="C()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/adobedimension.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="D()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
    <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/adobefresco.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="E()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/adobepremierepro.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="F()">Buy Now</button>
                </mat-card-actions>

        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/adobepremiererush.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="G()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/asl.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="H()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/aso.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="I()">Buy Now</button>
                </mat-card-actions> 
        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/ass.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="J()">Buy Now</button>
                </mat-card-actions>

        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/ats.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="K()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/axd.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="L()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
    
  </div>
  <div class="col-md-3 col-sm-6 mb-2" >
    <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/aec.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="M()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/afp.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="N()">Buy Now</button>
                </mat-card-actions>

        </mat-card>
       </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/cc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active"button (click)="O()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/creativecloud.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="P()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
         </div>
         <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
         <mat-card-content>
                <img src="../assets/ccws.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="Q()">Buy Now</button>
                </mat-card-actions>  
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/dcc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="R()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/fm.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="S()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/icc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="T()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/iccc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="U()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
       </div>

  <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/idcc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="V()">Buy Now</button>
                </mat-card-actions>

        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/lwc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="W()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
       </div>
       <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/pcc.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="X()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-2 offset-md-3" >
            <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/pve.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="Y()">Buy Now</button>
                </mat-card-actions>
        </mat-card>
    </div>

      <div class="col-md-3 col-sm-6 mb-2" >
        <mat-card fxFlex="100"style="height: 350px;">
            <mat-card-content>
                <img src="../assets/rho.png" width="100%">
            </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" routerLink="/adobecartoptions" routerLinkActive="active" button (click)="Z()">Buy Now</button>
                </mat-card-actions>

        </mat-card>
      
    </div>
   </div>
   </div>
</form>
<br>
<br>


</div>