<div class="background">
    <h1 style="text-align: center;"><b>{{productname}}</b></h1>

    <br>
    <br>
    <h2 style="margin-left: 10px; margin-right: 10px;">{{productdescription}}</h2>
    <div class=img align="center">
        <img src="{{path}}" width="80%" >
    </div>
    <br>
    <br>
        <div class="video">
            <iframe width="100%" height="615" [src]="url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
    
          <br>
          <div align="center" >
            <button mat-raised-button color="primary" routerLink="/graebertpricesection123" routerLinkActive="active" style="height: 100px; width: 200px;">BUY NOW >> </button>
        
        </div>
    <br>
    
</div>
